label {
	/*background-color: black;*/
	padding-left: 20px;
}

input {
	padding: 100px;
	margin: 10px;
}

.question {
	padding: 10px;
}

.jumbotron {
	background-image: url("map.jpg");
	background-position: center;
	opacity: 50%;
}

#timer {
	font-weight: strong;
}