label {
	/*background-color: black;*/
	padding-left: 20px;
}

input {
	padding: 20px;
}

.question {
	padding: 10px;
}

.jumbotron {
	background-image: url("map.jpg");
	background-position: center;
	opacity: 50%;
}